<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">

    <title>Markdown renderer</title>
    <meta name="description" content="Markdown renderer">

  </head>

  <body>
    <script type="text/javascript" src="lib/marked.js"></script>
    ...
    <div id="body">
      <div id="markdown">
        <div id="markdown_content" src="./test.markdown"> </div>
        # We love markdown!
        ## Do you like markdown?
      </div>
      <div id="content"></div>
    </div>
    <script>
var marked=require("marked");
content=document.getElementById("content");
markdown=document.getElementById("markdown");
content.innerHTML = marked(markdown.innerHTML);
body.removeChild(markdown);
    </script>
  </body>
</html>
